<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<title>{{pageTitle}}</title>
</head>
<body>
	<div class="container">
		<h1>{{pageTitle}}</h1>

		<h4 class="text-white">{{subheading}}</h4>
			<div class="area">
				
				<div class="row" style="height: 1.5rem;"></div>


				<form action="/users/signup/submit" method="post">
					
					<div class="row py-1">
						<div class="col-3">
							<span>Username:</span>
						</div>

						<div class="col-6 d-flex justify-content-start">
							<input type="text" name="username">
						</div>
					</div>

					<div class="row py-1">
						<div class="col-3">
							<span>Firstname:</span>
						</div>

						<div class="col-6 d-flex justify-content-start">
							<input type="text" name="firstname">
						</div>
					</div>

					<div class="row py-1">
						<div class="col-3">
							<span>Lastname:</span>
						</div>

						<div class="col-6 d-flex justify-content-start">
							<input type="text" name="lastname">
						</div>
					</div>

					<div class="row py-1">
						<div class="col-3">
							<span>Create Password:</span>
						</div>

						<div class="col-6 d-flex justify-content-start">
							<input id="password" type="password" name="password">
						</div>
					</div>

					<div class="row py-1">
						<div class="col-3">
							<span>Verify Password:</span>
						</div>

						<div class="col-6 d-flex justify-content-start">
							<input id="password-verify" type="password" name="password_verify">
						</div>
					</div>

					<div class="row py-2">
						<div class="col-3"></div>
						
						<div class="col-3 d-flex justify-content-start">
							<button class="btn signup" type="submit">Sign Up</button>
							<div id="verify" class="px-3"></div>
						</div>

					</div>
				</form>

			</div>
			

	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src='/verify.js'></script>
</body>
</html>	